<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Staging Server Manage Tool</title>
</head>
<body>
  <div style="margin: 0 auto;text-align:center;">
    <form action="/" method="post">
      <button style="font-size:2em;line-height: 2em;" type="submit">点我清空缓存!</button>
    </form>
  </div>
</body>
</html>
